.container {
  max-width: 375px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-flex {
  flex-basis: auto;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 500px;
  }
}
